<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MedicalEconomicStandardsParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MedicalEconomicStandardsParser.Properties.Settings>
            <setting name="MkbCodesFileName" serializeAs="String">
                <value>МКБ коды.xlsx</value>
            </setting>
            <setting name="MkbCodesDgcodeColumn" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="MkbCodesMkbcodeColumn" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="MkbCodesFirstRowWithData" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MkbCodesSheetName" serializeAs="String">
                <value>МКБ коды</value>
            </setting>
            <setting name="MESSheetName" serializeAs="String">
                <value />
            </setting>
            <setting name="MESFirstRowWithData" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MESMkbBlockName" serializeAs="String">
                <value>МКБ10</value>
            </setting>
            <setting name="MESMkbCodeColumn" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="MESMkbNameColumn" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="MESDataMedicalServiceCodeColumn" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="МESDataMedicalServiceNameColumn" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="МESDataAverageFrequencyOfGrantingColumn" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="МESDataAverageIndexOfFrequencyOfApplicationColumn"
                serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="MESDataServiceNameColumn" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="MESDataCodeColumn" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="MESDataFactColumn" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="MESDataPrepaidExpenseColumn" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="MESDataCountColumn" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="MESDataAgeFromColumn" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="MESDataAgeBeforeColumn" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="MESDataDiagnosticControlColumn" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="MESDataBlockName" serializeAs="String">
                <value>Код медицинской услуги</value>
            </setting>
            <setting name="TemplateFileNameMis" serializeAs="String">
                <value>Template_Mis.xlsx</value>
            </setting>
            <setting name="TemplateFileNameSummary" serializeAs="String">
                <value>Template_Summary.xlsx</value>
            </setting>
        </MedicalEconomicStandardsParser.Properties.Settings>
    </userSettings>
</configuration>